<main id="forgot-password-page" class="bg-offwhite container">

  <section id="header" class="constrain">
      <div class="navigation">
          <a [routerLink]="['/login']" class="back">
              <img class="svg" src="assets/images/icons/arrow-left.svg" height="5px" alt="Go back">
          </a>
      </div>
  </section>

  <section id="heading-text" class="constrain">
      <h1 class="title">Forgot Password</h1>
      <p>Please enter your Email so we can help you recover your password.</p>
  </section>

  <section id="forgot-password-form" class="constrain">
      <form>
          <div class="form-row">
              <div>
                  <input type="email" placeholder="Email Address" name="email">
              </div>
          </div>

          <div class="form-row">
              <button type="submit" class="btn btn-primary" name="submit">Next</button>
          </div>
      </form>
  </section>
  </main>